body {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/45544/background-svg.svg);
  background-size: cover;
}

.navbar-inverse .navbar-brand img {
  margin-top: -25.5px;
  margin-left: -20px;
  width: 80px;
  height: 70px;
}

.container .row {
  color: #FFFFFF;
}
